[Unit]
Description=Bind directories that are sensitive but have no dedicated partition on disk

Before=sysinit-post.target
Before=basic.target
Before=multi-user.target
Before=graphical.target
Before=getty-pre.target
Before=network-pre.target

After=local-fs.target
After=sysinit.target
After=qubes-sysinit.service

Requires=local-fs.target
Requires=sysinit.target

[Service]
Type=oneshot
ExecStart=bind-directories

[Install]
WantedBy=sysinit-post.target
