## Copyright (C) 2020 - 2020 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Unit]
Description=Stricter mount options for /boot
DefaultDependencies=no
ConditionPathExists=/boot
ConditionPathExists=/etc/remount-secure
Before=sysinit.target

[Mount]
What=/boot
Where=/boot
Options=bind,nosuid,nodev,noexec
