[Unit]
Description=Bind Mount /boot/efi with no dedicated partition
Before=boot.mount

[Mount]
What=/boot/efi
Where=/boot/efi
Options=defaults,nodev,noexec,nosuid,bind

[Install]
WantedBy=sysinit.target
