## Copyrigh (C) 2023 - 2023 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## Copyrigh (C) 2023 - 2023 Friedrich Doku <friedrichdoku@gmail.com>
## See the file COPYING for copying conditions.

[Unit]
Description=https://www.kicksecure.com/wiki/Cold_Boot_Attack_Defense

[Service]
Type=oneshot
ExecStart=/bin/true
ExecStop=/usr/libexec/security-misc/cold-boot-attack-defense-kexec-prepare

[Install]
WantedBy=multi-user.target
