## Copyright (C) 2022 - 2022 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.
## modifed by Friedrich Doku <friedrichdoku@gmail.com>

[Unit]
Description=My Script
 
[Service]
Type=oneshot
ExecStop=/usr/libexec/security-misc/cold-boot-attack-defense-kexec-prepare
 
[Install]
WantedBy=multi-user.target
~

