## Copyright (C) 2020 - 2020 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Unit]
Description=Stricter mount options for /etc
DefaultDependencies=no
ConditionPathExists=/etc
ConditionPathExists=/etc/remount-secure
Before=sysinit.target

[Mount]
What=/etc
Where=/etc
## noexec breaks LightDM.
Options=bind,nosuid,nodev
