[Unit]
Description=Hide hardware information to unprivileged users
Documentation=https://github.com/Whonix/security-misc
DefaultDependencies=no
Before=sysinit.target
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/lib/security-misc/hide-hardware-info

[Install]
WantedBy=multi-user.target
