## Copyright (C) 2020 - 2020 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Unit]
Description=Stricter mount options for /home
DefaultDependencies=no
ConditionPathExists=/home
ConditionPathExists=/etc/remount-secure
Before=sysinit.target

[Mount]
What=/home
Where=/home
Options=bind,nosuid,nodev
