## Copyright (C) 2020 - 2020 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Unit]
Description=Stricter mount options for /home
DefaultDependencies=no
ConditionPathExists=/home
Before=sysinit.target

[Mount]
What=/home
Where=/home
Type=ext4
Options=bind,nosuid,nodev
## Uncomment this to deny execution of programs in /home.
#Options=noexec
