## Copyright (C) 2019 - 2023 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Unit]
Description=SUID, SGID, Capability and File Permission Hardening
Documentation=https://github.com/Kicksecure/security-misc

DefaultDependencies=no
Before=sysinit.target
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/security-misc/permission-hardening
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
