[Unit]
Description=Removes the System.map files
Documentation=https://github.com/Whonix/security-misc
DefaultDependencies=no
Before=sysinit.target
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/lib/security-misc/remove-system.map

[Install]
WantedBy=sysinit.target
