[Unit]
Description=Removes the System.map files

[Service]
Type=oneshot
Execstart=/usr/lib/security-misc/remove-system.map

[Install]
WantedBy=multi-user.target
