[Unit]
Description=sys-init.target by security-misc

After=sysinit.target
Before=basic.target
Requires=sysinit.target

[Install]
WantedBy=basic.target
