[Unit]
Description=Bind Mount /tmp with no dedicated partition

[Mount]
What=tmpfs
Where=/tmp
Options=defaults,nodev,noexec,nosuid

[Install]
WantedBy=sysinit.target
