## Copyright (C) 2020 - 2020 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Unit]
Description=Stricter mount options for /usr
DefaultDependencies=no
ConditionPathExists=/usr
ConditionPathExists=/etc/remount-secure
Before=sysinit.target

[Mount]
What=/usr
Where=/usr
Options=bind,nodev
