[Unit]
Description=Bind Mount /var/tmp with no dedicated partition

[Mount]
What=/var/tmp
Where=/tmp
Options=defaults,nodev,noexec,nosuid,bind

[Install]
WantedBy=sysinit.target
