## Copyright (C) 2012 - 2022 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

Source: security-misc
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@whonix.org>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13), config-package-dev, dh-apparmor
Homepage: https://github.com/Whonix/security-misc
Vcs-Browser: https://github.com/Whonix/security-misc
Vcs-Git: https://github.com/Whonix/security-misc.git
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: security-misc
Architecture: all
Depends: python3, libglib2.0-bin, libpam-runtime, sudo, adduser, libcap2-bin,
 apparmor-profile-dist, helper-scripts, libpam-modules-bin,
 secure-delete, dmsetup, kexec-tools, ${misc:Depends}
Replaces: tcp-timestamps-disable, anon-gpg-tweaks, swappiness-lowest
Description: Enhances Miscellaneous Security Settings
 https://github.com/Whonix/security-misc/blob/master/README.md
 .
 https://www.whonix.org/wiki/Security-misc
 .
 Discussion:
 .
 Happening primarily in Whonix forums.
 https://forums.whonix.org/t/kernel-hardening/7296
